
.icon-00001_01_user_filled:before { content: '\e800'; } /* '' */
.icon-00001_01_user_outline:before { content: '\e801'; } /* '' */
.icon-00005_01_users_outline:before { content: '\e802'; } /* '' */
.icon-00005_02_users_filled:before { content: '\e803'; } /* '' */
.icon-00006_01_home_outline:before { content: '\e804'; } /* '' */
.icon-00006_02_home_filled:before { content: '\e805'; } /* '' */
.icon-00008_01_bell_outline:before { content: '\e806'; } /* '' */
.icon-00008_02_bell_filled:before { content: '\e807'; } /* '' */
.icon-00010_01_cart_outline:before { content: '\e808'; } /* '' */
.icon-00010_02_cart_filled:before { content: '\e809'; } /* '' */
.icon-00011_01_buynow_outline:before { content: '\e80a'; } /* '' */
.icon-00011_02_buynow_filled:before { content: '\e80b'; } /* '' */
.icon-00012_01_calendar_outline:before { content: '\e80c'; } /* '' */
.icon-00012_02_calendar_filled:before { content: '\e80d'; } /* '' */
.icon-00013_01_star_outline:before { content: '\e80e'; } /* '' */
.icon-00013_02_star_filled:before { content: '\e80f'; } /* '' */
.icon-00014_01_heart_outline:before { content: '\e810'; } /* '' */
.icon-00014_02_heart_filled:before { content: '\e811'; } /* '' */
.icon-00015_01_delete_outline:before { content: '\e812'; } /* '' */
.icon-00015_02_delete_filled:before { content: '\e813'; } /* '' */
.icon-00016_01_locked_outline:before { content: '\e814'; } /* '' */
.icon-00016_02_locked_filled:before { content: '\e815'; } /* '' */
.icon-00017_01_unlock_outline:before { content: '\e816'; } /* '' */
.icon-00017_02_unlock_filled:before { content: '\e817'; } /* '' */
.icon-00018_01_location_outline:before { content: '\e818'; } /* '' */
.icon-00018_02_location_filled:before { content: '\e819'; } /* '' */
.icon-00019_01_email_outline:before { content: '\e81a'; } /* '' */
.icon-00019_02_email_filled:before { content: '\e81b'; } /* '' */
.icon-00020_01_sent_outline:before { content: '\e81c'; } /* '' */
.icon-00020_02_sent_filled:before { content: '\e81d'; } /* '' */
.icon-00021_01_note_outline:before { content: '\e81e'; } /* '' */
.icon-00021_02_note_filled:before { content: '\e81f'; } /* '' */
.icon-00031_01_openbook_outline:before { content: '\e820'; } /* '' */
.icon-00031_02_openbook_filled:before { content: '\e821'; } /* '' */
.icon-00032_01_addressbook_outline:before { content: '\e822'; } /* '' */
.icon-00032_02_addressbook_filled:before { content: '\e823'; } /* '' */
.icon-00033_01_diary_outline:before { content: '\e824'; } /* '' */
.icon-00033_02_diary_filled:before { content: '\e825'; } /* '' */
.icon-00034_01_clipboard_outline:before { content: '\e826'; } /* '' */
.icon-00034_02_clipboard_filled:before { content: '\e827'; } /* '' */
.icon-00035_01_sms_outline:before { content: '\e828'; } /* '' */
.icon-00035_02_sms_filled:before { content: '\e829'; } /* '' */
.icon-00036_01_chat_outline:before { content: '\e82a'; } /* '' */
.icon-00036_02_chat_filled:before { content: '\e82b'; } /* '' */
.icon-00037_01_time_outline:before { content: '\e82c'; } /* '' */
.icon-00037_02_time_filled:before { content: '\e82d'; } /* '' */
.icon-00038_01_alarm_outline:before { content: '\e82e'; } /* '' */
.icon-00038_02_alarm_filled:before { content: '\e82f'; } /* '' */
.icon-00039_01_file_outline:before { content: '\e830'; } /* '' */
.icon-00039_02_file_filled:before { content: '\e831'; } /* '' */
.icon-00040_01_files_outline:before { content: '\e832'; } /* '' */
.icon-00040_02_files_filled:before { content: '\e833'; } /* '' */
.icon-00041_01_visible_outline:before { content: '\e834'; } /* '' */
.icon-00041_02_visible_filled:before { content: '\e835'; } /* '' */
.icon-00042_01_notvisible_outline:before { content: '\e836'; } /* '' */
.icon-00042_02_notvisible_filled:before { content: '\e837'; } /* '' */
.icon-00043_01_flag_outline:before { content: '\e838'; } /* '' */
.icon-00043_02_flag_filled:before { content: '\e839'; } /* '' */
.icon-00044_01_alert_outline:before { content: '\e83a'; } /* '' */
.icon-00044_02_alert_filled:before { content: '\e83b'; } /* '' */
.icon-00045_01_info_outline:before { content: '\e83c'; } /* '' */
.icon-00046_01_ad_outline:before { content: '\e83d'; } /* '' */
.icon-00045_02_info_filled:before { content: '\e83e'; } /* '' */
.icon-00046_02_ad_filled:before { content: '\e83f'; } /* '' */
.icon-00050_01_settings_outline:before { content: '\e840'; } /* '' */
.icon-00050_02_settings_filled:before { content: '\e841'; } /* '' */
.icon-00054_01_medal_outline:before { content: '\e842'; } /* '' */
.icon-00054_02_medal_filled:before { content: '\e843'; } /* '' */
.icon-00055_01_award_outline:before { content: '\e844'; } /* '' */
.icon-00055_02_award_filled:before { content: '\e845'; } /* '' */
.icon-00056_01_trophy_outline:before { content: '\e846'; } /* '' */
.icon-00056_02_trophy_filled:before { content: '\e847'; } /* '' */
.icon-00058_01_bookmark_outline:before { content: '\e848'; } /* '' */
.icon-00058_02_bookmark_filled:before { content: '\e849'; } /* '' */
.icon-00059_01_recommended_outline:before { content: '\e84a'; } /* '' */
.icon-00059_02_recommended_filled:before { content: '\e84b'; } /* '' */
.icon-00060_01_topperforming_outline:before { content: '\e84c'; } /* '' */
.icon-00060_02_topperforming_filled:before { content: '\e84d'; } /* '' */
.icon-00061_01_like_outline:before { content: '\e84e'; } /* '' */
.icon-00061_02_line_filled:before { content: '\e84f'; } /* '' */
.icon-00062_01_like_outline:before { content: '\e850'; } /* '' */
.icon-00062_02_like_filled:before { content: '\e851'; } /* '' */
.icon-00063_01_hourglass_outline:before { content: '\e852'; } /* '' */
.icon-00063_02_hourglass_filled:before { content: '\e853'; } /* '' */
.icon-00065_01_edit_outline:before { content: '\e854'; } /* '' */
.icon-00065_02_edit_filled:before { content: '\e855'; } /* '' */
.icon-00067_01_gift_outline:before { content: '\e856'; } /* '' */
.icon-00067_02_gift_filled:before { content: '\e857'; } /* '' */
.icon-00071_01_addcategory_outline:before { content: '\e858'; } /* '' */
.icon-00075_01_filters_outline:before { content: '\e859'; } /* '' */
.icon-00071_02_addcategory_filled:before { content: '\e85a'; } /* '' */
.icon-00075_02_filters_filled:before { content: '\e85b'; } /* '' */
.icon-00076_01_filterslider_outline:before { content: '\e85c'; } /* '' */
.icon-00076_02_filterslider_filled:before { content: '\e85d'; } /* '' */
.icon-00077_02_sort_filled:before { content: '\e85e'; } /* '' */
.icon-00077_01_sort_outline:before { content: '\e85f'; } /* '' */
.icon-00078_01_sortascending_outline:before { content: '\e860'; } /* '' */
.icon-00090_01_scan_outline:before { content: '\e861'; } /* '' */
.icon-00078_02_sortascending_filled:before { content: '\e862'; } /* '' */
.icon-00090_02_scan_filled:before { content: '\e863'; } /* '' */
.icon-00102_01_world_outline:before { content: '\e864'; } /* '' */
.icon-00102_02_world_filled:before { content: '\e865'; } /* '' */
.icon-00103_01_hyperlink_link_connect_filled:before { content: '\e866'; } /* '' */
.icon-00103_01_hyperlink_link_connect_outline:before { content: '\e867'; } /* '' */
.icon-00118_01_download_outline:before { content: '\e868'; } /* '' */
.icon-00118_02_download_filled:before { content: '\e869'; } /* '' */
.icon-00122_01_search_outline:before { content: '\e86c'; } /* '' */
.icon-00122_02_search_filled:before { content: '\e86d'; } /* '' */
.icon-00123_01_zoomin_outline:before { content: '\e86e'; } /* '' */
.icon-00123_02_zoomin_filled:before { content: '\e86f'; } /* '' */
.icon-00124_01_zoomout_outline:before { content: '\e870'; } /* '' */
.icon-00124_02_zoomout_filled:before { content: '\e871'; } /* '' */
.icon-00125_01_mylocation_outline:before { content: '\e872'; } /* '' */
.icon-00125_02_mylocation_filled:before { content: '\e873'; } /* '' */
.icon-00126_01_map_outline:before { content: '\e874'; } /* '' */
.icon-00126_02_map_filled:before { content: '\e875'; } /* '' */
.icon-00127_01_check_outline:before { content: '\e876'; } /* '' */
.icon-00127_02_check_filled:before { content: '\e877'; } /* '' */
.icon-00128_01_doublecheck_outline:before { content: '\e878'; } /* '' */
.icon-00128_02_doublecheck_filled:before { content: '\e879'; } /* '' */
.icon-00129_01_share_outline:before { content: '\e87a'; } /* '' */
.icon-00129_02_share_filled:before { content: '\e87b'; } /* '' */
.icon-00130_01_attach_outline:before { content: '\e87c'; } /* '' */
.icon-00130_02_attach_filled:before { content: '\e87d'; } /* '' */
.icon-00131_01_menu_outline:before { content: '\e87e'; } /* '' */
.icon-00133_01_profiledetails_outline:before { content: '\e880'; } /* '' */
.icon-00133_02_profiledetails_filled:before { content: '\e881'; } /* '' */
.icon-00137_01_block_outline:before { content: '\e882'; } /* '' */
.icon-00137_02_block_filled:before { content: '\e883'; } /* '' */
.icon-00138_01_help_outline:before { content: '\e884'; } /* '' */
.icon-00138_02_help_filled:before { content: '\e885'; } /* '' */
.icon-00144_01_indonesianlanguage_outline:before { content: '\e886'; } /* '' */
.icon-00144_02_indonesianlanguage_filled:before { content: '\e887'; } /* '' */
.icon-00145_01_englishlanguage_outline:before { content: '\e888'; } /* '' */
.icon-00145_02_englishlanguage_filled:before { content: '\e889'; } /* '' */
.icon-00146_01_arrowleft_outline:before { content: '\e88a'; } /* '' */
.icon-00146_02_arrowleft_filled:before { content: '\e88b'; } /* '' */
.icon-00147_01_arrowright_outline:before { content: '\e88c'; } /* '' */
.icon-00147_02_arrowright_filled:before { content: '\e88d'; } /* '' */
.icon-00148_01_arrowleftlong_outline:before { content: '\e88e'; } /* '' */
.icon-00148_02_arrowleftlong_filled:before { content: '\e88f'; } /* '' */
.icon-00149_01_arrowrightlong_outline:before { content: '\e890'; } /* '' */
.icon-00149_02_arrowrightlong_filled:before { content: '\e891'; } /* '' */
.icon-00150_01_arrowleft_outline:before { content: '\e892'; } /* '' */
.icon-00150_02_arrowleft_filled:before { content: '\e893'; } /* '' */
.icon-00151_01_arrowright_outline:before { content: '\e894'; } /* '' */
.icon-00151_02_arrowright_filled:before { content: '\e895'; } /* '' */
.icon-00152_01_leftscroll_outline:before { content: '\e896'; } /* '' */
.icon-00152_02_leftscroll_filled:before { content: '\e897'; } /* '' */
.icon-00153_01_rightscroll_outline:before { content: '\e898'; } /* '' */
.icon-00153_02_rightscroll_filled:before { content: '\e899'; } /* '' */
.icon-00154_01_scrolldown_outline:before { content: '\e89a'; } /* '' */
.icon-00154_02_scrolldown_filled:before { content: '\e89b'; } /* '' */
.icon-00155_01_scrollup_outline:before { content: '\e89c'; } /* '' */
.icon-00156_01_tapleft_outline:before { content: '\e89d'; } /* '' */
.icon-00156_02_tapleft_filled:before { content: '\e89e'; } /* '' */
.icon-00157_01_tapright_outline:before { content: '\e89f'; } /* '' */
.icon-00157_02_tapright_filled:before { content: '\e8a0'; } /* '' */
.icon-00158_01_scrolldown_outline:before { content: '\e8a1'; } /* '' */
.icon-00158_02_scrolldown_filled:before { content: '\e8a2'; } /* '' */
.icon-00159_01_scrollup_outline:before { content: '\e8a3'; } /* '' */
.icon-00159_02_scrollup_filled:before { content: '\e8a4'; } /* '' */
.icon-00160_01_scrollvertical_outline:before { content: '\e8a5'; } /* '' */
.icon-00160_02_scrollvertical_filled:before { content: '\e8a6'; } /* '' */
.icon-00161_01_switch_outline:before { content: '\e8a7'; } /* '' */
.icon-00161_02_switch_filled:before { content: '\e8a8'; } /* '' */
.icon-00162_01_enter_outline:before { content: '\e8a9'; } /* '' */
.icon-00162_02_enter_filled:before { content: '\e8aa'; } /* '' */
.icon-00163_01_enteralternative_outline:before { content: '\e8ab'; } /* '' */
.icon-00163_02_enteralternative_filled:before { content: '\e8ac'; } /* '' */
.icon-00164_01_add_outline:before { content: '\e8ad'; } /* '' */
.icon-00164_02_add_filled:before { content: '\e8ae'; } /* '' */
.icon-00165_01_add_outline:before { content: '\e8af'; } /* '' */
.icon-00165_02_add_filled:before { content: '\e8b0'; } /* '' */
.icon-00166_01_close_outline:before { content: '\e8b1'; } /* '' */
.icon-00166_02_close_filled:before { content: '\e8b2'; } /* '' */
.icon-00167_01_asterik_outline:before { content: '\e8b3'; } /* '' */
.icon-00167_02_asterik_filled:before { content: '\e8b4'; } /* '' */
.icon-00168_01_less_outline:before { content: '\e8b5'; } /* '' */
.icon-00168_02_less_filled:before { content: '\e8b6'; } /* '' */
.icon-00169_01_additem_outline:before { content: '\e8b7'; } /* '' */
.icon-00169_02_additem_filled:before { content: '\e8b8'; } /* '' */
.icon-00170_01_reduceitem_outline:before { content: '\e8b9'; } /* '' */
.icon-00170_02_reduceitem_filled:before { content: '\e8ba'; } /* '' */
.icon-00171_01_remove_outline:before { content: '\e8bb'; } /* '' */
.icon-00171_02_remove_filled:before { content: '\e8bc'; } /* '' */
.icon-00172_01_morevertical_outline:before { content: '\e8bd'; } /* '' */
.icon-00172_02_morevertical_filled:before { content: '\e8be'; } /* '' */
.icon-00173_01_morehorizontal_outline:before { content: '\e8bf'; } /* '' */
.icon-00173_02_morehorizontal_filled:before { content: '\e8c0'; } /* '' */
.icon-00176_01_dialpad_outline:before { content: '\e8c1'; } /* '' */
.icon-00176_02_dialpad_filled:before { content: '\e8c2'; } /* '' */
.icon-00183_01_power_outline:before { content: '\e8c3'; } /* '' */
.icon-00183_02_power_filled:before { content: '\e8c4'; } /* '' */
.icon-00185_01_wifion_outline:before { content: '\e8c5'; } /* '' */
.icon-00185_02_wifion_filled:before { content: '\e8c6'; } /* '' */
.icon-00187_01_festival_outline:before { content: '\e8c7'; } /* '' */
.icon-00187_02_festival_filled:before { content: '\e8c8'; } /* '' */
.icon-00191_01_history_outline:before { content: '\e8c9'; } /* '' */
.icon-00191_02_history_filled:before { content: '\e8ca'; } /* '' */
.icon-00194_01_offer_outline:before { content: '\e8cb'; } /* '' */
.icon-00194_02_offer_filled:before { content: '\e8cc'; } /* '' */
.icon-00195_01_discount_outline:before { content: '\e8cd'; } /* '' */
.icon-00195_02_discount_filled:before { content: '\e8ce'; } /* '' */
.icon-00196_01_discountcode_outline:before { content: '\e8cf'; } /* '' */
.icon-00196_02_discountcode_filled:before { content: '\e8d0'; } /* '' */
.icon-00197_01_ticket_outline:before { content: '\e8d1'; } /* '' */
.icon-00197_02_ticket_filled:before { content: '\e8d2'; } /* '' */
.icon-00198_01_promocode_outline:before { content: '\e8d3'; } /* '' */
.icon-00198_02_promocode_filled:before { content: '\e8d4'; } /* '' */
.icon-00199_01_rupiah_outline:before { content: '\e8d5'; } /* '' */
.icon-00199_02_rupiah_filled:before { content: '\e8d6'; } /* '' */
.icon-00200_01_currency_outline:before { content: '\e8d7'; } /* '' */
.icon-00200_02_currency_filled:before { content: '\e8d8'; } /* '' */
.icon-00202_01_delivery_outline:before { content: '\e8d9'; } /* '' */
.icon-00202_02_delivery_filled:before { content: '\e8da'; } /* '' */
.icon-00203_01_hotbeverage_outline:before { content: '\e8db'; } /* '' */
.icon-00203_02_hotbeverage_filled:before { content: '\e8dc'; } /* '' */
.icon-00204_01_foodbeverage_outline:before { content: '\e8dd'; } /* '' */
.icon-00204_02_foodbeverage_filled:before { content: '\e8de'; } /* '' */
.icon-00205_01_restaurant_outline:before { content: '\e8df'; } /* '' */
.icon-00205_02_restaurant_filled:before { content: '\e8e0'; } /* '' */
.icon-00206_01_bar_outline:before { content: '\e8e1'; } /* '' */
.icon-00206_02_bar_filled:before { content: '\e8e2'; } /* '' */
.icon-00207_01_food_outline:before { content: '\e8e3'; } /* '' */
.icon-00207_02_food_filled:before { content: '\e8e4'; } /* '' */
.icon-00209_01_sunbed_outline:before { content: '\e8e5'; } /* '' */
.icon-00209_02_sunbed_filled:before { content: '\e8e6'; } /* '' */
.icon-00210_01_hotel_outline:before { content: '\e8e7'; } /* '' */
.icon-00210_02_hotel_filled:before { content: '\e8e8'; } /* '' */
.icon-00211_01_hotel_outline:before { content: '\e8e9'; } /* '' */
.icon-00211_02_hotel_filled:before { content: '\e8ea'; } /* '' */
.icon-00212_01_arrivals_outline:before { content: '\e8eb'; } /* '' */
.icon-00212_02_arrivals_filled:before { content: '\e8ec'; } /* '' */
.icon-00213_01_departures_outline:before { content: '\e8ed'; } /* '' */
.icon-00213_02_departures_filled:before { content: '\e8ee'; } /* '' */
.icon-00214_01_beauty_outline:before { content: '\e8ef'; } /* '' */
.icon-00214_02_beauty_filled:before { content: '\e8f0'; } /* '' */
.icon-00215_01_makeup_outline:before { content: '\e8f1'; } /* '' */
.icon-00215_02_makeup_filled:before { content: '\e8f2'; } /* '' */
.icon-00216_01_clothing_outline:before { content: '\e8f3'; } /* '' */
.icon-00216_02_clothing_filled:before { content: '\e8f4'; } /* '' */
.icon-00217_01_hanger_outline:before { content: '\e8f5'; } /* '' */
.icon-00217_02_hanger_filled:before { content: '\e8f6'; } /* '' */
.icon-00218_01_lifestyle_outline:before { content: '\e8f7'; } /* '' */
.icon-00218_02_lifestyle_filled:before { content: '\e8f8'; } /* '' */
.icon-00219_01_shopping_outline:before { content: '\e8f9'; } /* '' */
.icon-00219_02_shopping_filled:before { content: '\e8fa'; } /* '' */
.icon-00220_01_shoppingbasket_outline:before { content: '\e8fb'; } /* '' */
.icon-00220_02_shoppingbasket_filled:before { content: '\e8fc'; } /* '' */
.icon-00221_01_health_outline:before { content: '\e8fd'; } /* '' */
.icon-00221_02_health_filled:before { content: '\e8fe'; } /* '' */
.icon-00222_01_medical_outline:before { content: '\e8ff'; } /* '' */
.icon-00222_02_medical_filled:before { content: '\e900'; } /* '' */
.icon-00223_01_medicalconsultation_outline:before { content: '\e901'; } /* '' */
.icon-00223_02_medicalconsultation_filled:before { content: '\e902'; } /* '' */
.icon-00235_01_gamepad_outline:before { content: '\e903'; } /* '' */
.icon-00235_02_gamepad_filled:before { content: '\e904'; } /* '' */
.icon-00236_01_topup_outline:before { content: '\e905'; } /* '' */
.icon-00236_02_topup_filled:before { content: '\e906'; } /* '' */
.icon-00237_01_billpay_outline:before { content: '\e907'; } /* '' */
.icon-00237_02_billpay_filled:before { content: '\e908'; } /* '' */
.icon-00238_01_bill_outline:before { content: '\e909'; } /* '' */
.icon-00238_02_bill_filled:before { content: '\e90a'; } /* '' */
.icon-00239_01_postpaid_outline:before { content: '\e90b'; } /* '' */
.icon-00239_02_postpaid_filled:before { content: '\e90c'; } /* '' */
.icon-00240_01_prepaid_outline:before { content: '\e90d'; } /* '' */
.icon-00240_02_prepaid_filled:before { content: '\e90e'; } /* '' */
.icon-00241_01_recharge_outline:before { content: '\e90f'; } /* '' */
.icon-00241_02_recharge_filled:before { content: '\e910'; } /* '' */
.icon-00259_01_shield_outline:before { content: '\e911'; } /* '' */
.icon-00259_02_shield_filled:before { content: '\e912'; } /* '' */
.icon-00260_01_secure_outline:before { content: '\e913'; } /* '' */
.icon-00260_02_secure_filled:before { content: '\e914'; } /* '' */
.icon-00261_01_notprotected_outline:before { content: '\e915'; } /* '' */
.icon-00261_02_notprotected_filled:before { content: '\e916'; } /* '' */
.icon-00262_01_facebook_outline:before { content: '\e917'; } /* '' */
.icon-00262_02_facebook_filled:before { content: '\e918'; } /* '' */
.icon-00263_01_twitter_outline:before { content: '\e919'; } /* '' */
.icon-00263_02_twitter_filled:before { content: '\e91a'; } /* '' */
.icon-00264_01_instagram_outline:before { content: '\e91b'; } /* '' */
.icon-00264_02_instagram_filled:before { content: '\e91c'; } /* '' */
.icon-00265_01_google_outline:before { content: '\e91d'; } /* '' */
.icon-00265_02_google_filled:before { content: '\e91e'; } /* '' */
.icon-00266_01_whatsapp_outline:before { content: '\e91f'; } /* '' */
.icon-00266_02_whatsapp_filled:before { content: '\e920'; } /* '' */
.icon-00267_01_linkedin_outline:before { content: '\e921'; } /* '' */
.icon-00267_02_linkedin_filled:before { content: '\e922'; } /* '' */
.icon-00268_01_youtube_outline:before { content: '\e923'; } /* '' */
.icon-00268_02_youtube_filled:before { content: '\e924'; } /* '' */
.icon-00269_01_tiktok_outline:before { content: '\e925'; } /* '' */
.icon-00269_02_tiktok_filled:before { content: '\e926'; } /* '' */
.icon-00270_01_line_outline:before { content: '\e927'; } /* '' */
.icon-00270_02_line_filled:before { content: '\e928'; } /* '' */
.icon-00271_01_pinterest_outline:before { content: '\e929'; } /* '' */
.icon-00271_02_pinterest_filled:before { content: '\e92a'; } /* '' */
.icon-00272_01_wechat_outline:before { content: '\e92b'; } /* '' */
.icon-00272_02_wechat_filled:before { content: '\e92c'; } /* '' */
.icon-00274_01_video_outline:before { content: '\e92d'; } /* '' */
.icon-00274_02_video_filled:before { content: '\e92e'; } /* '' */
.icon-00275_01_videooff_outline:before { content: '\e92f'; } /* '' */
.icon-00275_02_videooff_filled:before { content: '\e930'; } /* '' */
.icon-00276_01_camera_outline:before { content: '\e931'; } /* '' */
.icon-00276_02_camera_filled:before { content: '\e932'; } /* '' */
.icon-00277_01_cameraoff_outline:before { content: '\e933'; } /* '' */
.icon-00277_02_cameraoff_filled:before { content: '\e934'; } /* '' */
.icon-00278_01_photo_outline:before { content: '\e935'; } /* '' */
.icon-00278_02_photo_filled:before { content: '\e936'; } /* '' */
.icon-00284_01_5gicon_outline:before { content: '\e937'; } /* '' */
.icon-00284_02_5gicon_filled:before { content: '\e938'; } /* '' */
.icon-00285_01_midnight_outline:before { content: '\e939'; } /* '' */
.icon-00285_02_midnight_filled:before { content: '\e93a'; } /* '' */
.icon-00286_01_4gicon_outline:before { content: '\e93b'; } /* '' */
.icon-00286_02_4gicon_filled:before { content: '\e93c'; } /* '' */
.icon-00287_01_isigo_outline:before { content: '\e93d'; } /* '' */
.icon-00287_02_isigo_filled:before { content: '\e93e'; } /* '' */
.icon-00288_01_playsquare_outline:before { content: '\e940'; } /* '' */
.icon-00288_02_livechat_filled:before { content: '\e941'; } /* '' */
.icon-00288_02_playsquare_filled:before { content: '\e942'; } /* '' */
.icon-00289_01_products_outline:before { content: '\e943'; } /* '' */
.icon-00289_02_products_filled:before { content: '\e944'; } /* '' */
.icon-00290_01_gallerylocation_outline:before { content: '\e945'; } /* '' */
.icon-00290_02_gallerylocation_filled:before { content: '\e946'; } /* '' */
.icon-00292_01_repeat_outline:before { content: '\e947'; } /* '' */
.icon-00292_02_repeat_filled:before { content: '\e948'; } /* '' */
.icon-00301_01_movie_outline:before { content: '\e949'; } /* '' */
.icon-00301_02_movie_filled:before { content: '\e94a'; } /* '' */
.icon-00313_01_mobilephone_outline:before { content: '\e94b'; } /* '' */
.icon-00313_02_mobilephone_filled:before { content: '\e94c'; } /* '' */
.icon-00317_01_gadgets_outline:before { content: '\e94d'; } /* '' */
.icon-00317_02_gadgets_filled:before { content: '\e94e'; } /* '' */
.icon-00321_01_sim_outline:before { content: '\e94f'; } /* '' */
.icon-00321_02_sim_filled:before { content: '\e950'; } /* '' */
.icon-00322_01_esim_outline:before { content: '\e951'; } /* '' */
.icon-00322_02_esim_filled:before { content: '\e952'; } /* '' */
.icon-00327_01_mywallet_outline:before { content: '\e953'; } /* '' */
.icon-00327_02_mywallet_filled:before { content: '\e954'; } /* '' */
.icon-00332_01_store_outline:before { content: '\e955'; } /* '' */
.icon-00332_02_store_filled:before { content: '\e956'; } /* '' */
.icon-00339_01_percentage_outline:before { content: '\e957'; } /* '' */
.icon-00339_02_percentage_filled:before { content: '\e958'; } /* '' */
.icon-00340_01_percentagesmall_outline:before { content: '\e959'; } /* '' */
.icon-00340_02_percentagesmall_filled:before { content: '\e95a'; } /* '' */
.icon-00343_01_close_outline:before { content: '\e95b'; } /* '' */
.icon-00343_01_close:before { content: '\e95c'; } /* '' */
.icon-00343_02_close_filled:before { content: '\e95d'; } /* '' */
.icon-00344_01_back_outline:before { content: '\e95e'; } /* '' */
.icon-00344_01_back:before { content: '\e95f'; } /* '' */
.icon-00344_02_back_filled:before { content: '\e960'; } /* '' */
.icon-00345_01_add_sim_outline:before { content: '\e961'; } /* '' */
.icon-00345_02_add_sim_filled:before { content: '\e962'; } /* '' */
.icon-00346_01_phone_call_outline:before { content: '\e963'; } /* '' */
.icon-00346_02_phone_call_filled:before { content: '\e964'; } /* '' */
.icon-00347_01_subscription_outline:before { content: '\e965'; } /* '' */
.icon-00347_02_subscription_filled:before { content: '\e966'; } /* '' */
.icon-00349_01_balance_rupiah_outline:before { content: '\e967'; } /* '' */
.icon-00349_02_balance_rupiah_filled:before { content: '\e968'; } /* '' */
.icon-00350_01_rollover_data_outline:before { content: '\e969'; } /* '' */
.icon-00350_02_rollover_data_filled:before { content: '\e96a'; } /* '' */
.icon-00354_01_pulsa:before { content: '\e96b'; } /* '' */
.icon-00354_02_pulsa_filled:before { content: '\e96c'; } /* '' */
.icon-00356_01_minus_outline:before { content: '\e96d'; } /* '' */
.icon-00356_02_minus_fllled:before { content: '\e96e'; } /* '' */
.icon-00359_01_poweroff_outline:before { content: '\e96f'; } /* '' */
.icon-00359_02_poweroff_filled:before { content: '\e970'; } /* '' */
.icon-00362_01_responsive_filled:before { content: '\e971'; } /* '' */
.icon-00362_02_responsive_outline:before { content: '\e972'; } /* '' */
.icon-00363_01_travel_bag_outline:before { content: '\e973'; } /* '' */
.icon-00363_02_travel_bag_filled:before { content: '\e974'; } /* '' */
.icon-00368_01_invite_outline:before { content: '\e975'; } /* '' */
.icon-00368_02_invite_filled:before { content: '\e976'; } /* '' */
.icon-00369_01_donation_outline:before { content: '\e977'; } /* '' */
.icon-00369_01_finger_print_outline:before { content: '\e978'; } /* '' */
.icon-00369_01_fingerprint_outline:before { content: '\e979'; } /* '' */
.icon-00369_02_donation_filled:before { content: '\e97a'; } /* '' */
.icon-00369_02_finger_print_filled:before { content: '\e97b'; } /* '' */
.icon-00369_02_fingerprint_filled:before { content: '\e97c'; } /* '' */
.icon-00370_01_face_id_outline:before { content: '\e97d'; } /* '' */
.icon-00370_01_faceid_outline:before { content: '\e97e'; } /* '' */
.icon-00370_02_face_id_filled:before { content: '\e97f'; } /* '' */
.icon-00370_02_faceid_filled:before { content: '\e980'; } /* '' */
.icon-00371_01_sim_activation_outline:before { content: '\e981'; } /* '' */
.icon-00371_02_sim_activation_filled:before { content: '\e982'; } /* '' */
.icon-00372_01_sf_package_outline:before { content: '\e983'; } /* '' */
.icon-00372_02_sf_package_filled:before { content: '\e984'; } /* '' */
.icon-00373_01_mysf_outline:before { content: '\e985'; } /* '' */
.icon-00373_02_mysf_filled:before { content: '\e986'; } /* '' */
.icon-00374_01_refresh_outline:before { content: '\e987'; } /* '' */
.icon-00374_02_refresh_filled:before { content: '\e988'; } /* '' */
.icon-00375_01_animated_scroll_filled_outline:before { content: '\e989'; } /* '' */
.icon-0375_01_unlimited_outline:before { content: '\e98a'; } /* '' */
.icon-00375_02_animated_scroll_outline:before { content: '\e98b'; } /* '' */
.icon-0375_02_unlimited_filled:before { content: '\e98c'; } /* '' */
.icon-00376_01_back_to_top_outline:before { content: '\e98d'; } /* '' */
.icon-00376_02_back_to_top_filled:before { content: '\e98e'; } /* '' */
.icon-00377_01_enable_outline:before { content: '\e98f'; } /* '' */
.icon-00377_02_enable_filled:before { content: '\e990'; } /* '' */
.icon-00378_01_vidio_outline:before { content: '\e991'; } /* '' */
.icon-00378_02_vidio_filled:before { content: '\e992'; } /* '' */
.icon-00385_01_battery_charging_outline:before { content: '\e995'; } /* '' */
.icon-00385_02_battery_charging_filled:before { content: '\e996'; } /* '' */
.icon-00386_01_arrow_thin_outline:before { content: '\e997'; } /* '' */
.icon-00386_02_arrow_thin_filled:before { content: '\e998'; } /* '' */
.icon-00387_01_arrow_down_thin_outline:before { content: '\e999'; } /* '' */
.icon-00387_02_arrow_down_thin_filled:before { content: '\e99a'; } /* '' */
.icon-00388_01_arrow_up_thin_outline:before { content: '\e99b'; } /* '' */
.icon-00388_02_arrow_up_thin_filled:before { content: '\e99c'; } /* '' */
.icon-00389_01_arrow_right_thick_outline:before { content: '\e99d'; } /* '' */
.icon-00389_02_arrow_right_thick_filled:before { content: '\e99e'; } /* '' */
.icon-00390_01_arrow_thin_center_outline:before { content: '\e99f'; } /* '' */
.icon-00390_02_arrow_thin_center_filled:before { content: '\e9a0'; } /* '' */
.icon-00391_01_arrow_thin_large_outline:before { content: '\e9a1'; } /* '' */
.icon-00391_01_arrow_thin_right_outline:before { content: '\e9a2'; } /* '' */
.icon-00391_02_arrow_thin_large_filled:before { content: '\e9a3'; } /* '' */
.icon-00391_02_arrow_thin_right_filled:before { content: '\e9a4'; } /* '' */
.icon-00392_01_eject_outline:before { content: '\e9a5'; } /* '' */
.icon-00392_02_eject_filled:before { content: '\e9a6'; } /* '' */
.icon-00393_01_less_thin_outline:before { content: '\e9a7'; } /* '' */
.icon-00393_02_less_thin_filled:before { content: '\e9a8'; } /* '' */
.icon-00394_01_add_thin_outline:before { content: '\e9a9'; } /* '' */
.icon-00394_02_add_thin_filled:before { content: '\e9aa'; } /* '' */
.icon-00395_01_fix_outline:before { content: '\e9ab'; } /* '' */
.icon-00395_02_fix_filled:before { content: '\e9ac'; } /* '' */
.icon-00396_01_rollover_outline:before { content: '\e9ad'; } /* '' */
.icon-00396_02_rollover_filled:before { content: '\e9ae'; } /* '' */
.icon-00397_02_qr_filled:before { content: '\e9af'; } /* '' */
.icon-00397_02_qr_outlined:before { content: '\e9b0'; } /* '' */
.icon-00398_01_golf_outline:before { content: '\e9b1'; } /* '' */
.icon-00398_02_golf_filled:before { content: '\e9b2'; } /* '' */
.icon-00399_01_others_outline:before { content: '\e9b3'; } /* '' */
.icon-00399_02_others_filled:before { content: '\e9b4'; } /* '' */
.icon-00400_01_double_arrow_right_outline:before { content: '\e9b5'; } /* '' */
.icon-00400_02_double_arrow_right_filled:before { content: '\e9b6'; } /* '' */
.icon-00401_01_double_arrow_left_outline:before { content: '\e9b7'; } /* '' */
.icon-00401_02_double_arrow_left_filled:before { content: '\e9b8'; } /* '' */
.icon-00402_01_car_outline:before { content: '\e9b9'; } /* '' */
.icon-00402_02_car_filled:before { content: '\e9ba'; } /* '' */
.icon-00403_01_social_media_outline:before { content: '\e9bb'; } /* '' */
.icon-00403_02_social_media_filled:before { content: '\e9bc'; } /* '' */
.icon-00404_01_education_outline:before { content: '\e9bd'; } /* '' */
.icon-00404_02_education_filled:before { content: '\e9be'; } /* '' */
.icon-00405_01_music_outline:before { content: '\e9bf'; } /* '' */
.icon-00405_02_music_filled:before { content: '\e9c0'; } /* '' */
.icon-00406_01_checklist_outline:before { content: '\e9c1'; } /* '' */
.icon-00406_02_checklist_filled:before { content: '\e9c2'; } /* '' */
.icon-00407_01_removed_outline:before { content: '\e9c3'; } /* '' */
.icon-00407_02_removed_filled:before { content: '\e9c4'; } /* '' */
.icon-00408_01_info_round_outline:before { content: '\e9c5'; } /* '' */
.icon-00408_02_info_round_filled:before { content: '\e9c6'; } /* '' */
.icon-00409_01_arrow_thin_left_outline:before { content: '\e9c7'; } /* '' */
.icon-00409_02_arrow_thin_left_filled:before { content: '\e9c8'; } /* '' */
.icon-00410_01_arrow_thin_up_outline:before { content: '\e9c9'; } /* '' */
.icon-00410_02_arrow_thin_up_filled:before { content: '\e9ca'; } /* '' */
.icon-00411_01_arrow_thin_down_outline:before { content: '\e9cb'; } /* '' */
.icon-00411_02_arrow_thin_down_filled:before { content: '\e9cc'; } /* '' */
.icon-00412_01_close_thin_outline:before { content: '\e9cd'; } /* '' */
.icon-00412_02_close_thin_filled:before { content: '\e9ce'; } /* '' */
.icon-00413_01_search_outline:before { content: '\e9cf'; } /* '' */
.icon-00413_02_search_filled:before { content: '\e9d0'; } /* '' */
.icon-00414_01_clear_outline:before { content: '\e9d1'; } /* '' */
.icon-00414_02_clear_filled:before { content: '\e9d2'; } /* '' */
.icon-00381_01_package_outline:before { content: '\e9d3'; } /* '' */
.icon-00381_02_package_filled:before { content: '\e9d4'; } /* '' */
.icon-00382_01_wifi_filled:before { content: '\e9d5'; } /* '' */
.icon-00382_02_wifi_outline:before { content: '\e9d6'; } /* '' */
.icon-00383_01_external_link_outline:before { content: '\e9d7'; } /* '' */
.icon-00383_02_external_link_filled:before { content: '\e9d8'; } /* '' */
.icon-00384_01_diamond_outline:before { content: '\e9d9'; } /* '' */
.icon-00384_02_diamond_filled:before { content: '\e9da'; } /* '' */
.icon-00288_01_livechat_outline:before { content: '\e9db'; } /* '' */
.icon-00131_02_menu_filled:before { content: '\e9dc'; } /* '' */
.icon-00379_01_logout_outline:before { content: '\e9dd'; } /* '' */
.icon-00379_02_logout_filled:before { content: '\e9de'; } /* '' */
.icon-00119_01_login_outline:before { content: '\e9df'; } /* '' */
.icon-00119_02_login_filled:before { content: '\e9e0'; } /* '' */
.icon-00417_01_copy_outline:before { content: '\e9e1'; } /* '' */
.icon-00417_02_copy_filled:before { content: '\e9e2'; } /* '' */
