@font-face {
  font-family: 'mysf_icons';
  // src: url('../../../../../../packages//smartfren-ui//assets/fonts/mysf_icons.eot');
  src: url('../../../../../../packages//smartfren-ui//assets/fonts/mysf_icons.eot?30848141');
  src: url('../../../../../../packages//smartfren-ui//assets/fonts/mysf_icons.eot?30848141#iefix') format('embedded-opentype'),
       url('../../../../../../packages//smartfren-ui//assets/fonts/mysf_icons.woff2?30848141') format('woff2'),
       url('../../../../../../packages//smartfren-ui//assets/fonts/mysf_icons.woff?30848141') format('woff'),
       url('../../../../../../packages//smartfren-ui//assets/fonts/mysf_icons.ttf?30848141') format('truetype'),
       url('../../../../../../packages//smartfren-ui//assets/fonts/mysf_icons.svg?30848141#mysf_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mysf_icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  display: block;
  width: 24px;
  height: 24px;
  font-size: var(--font-24);
  line-height: var(--font-24);
  position: relative;
  color: #000000;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
  }
}