.container {
  margin: 20px;
  min-height: 100vh;
  height: 20px;
}

@keyframes background-move {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 100vw 0, 0 0;
    background-position: unquote('max(100vw, 40em)') 0, 0 0;
  }
}

.inputgroup {
  width: 100%;
  // max-width: 366px;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 2;

  @supports (mix-blend-mode: darken) {
    position: relative;
    // mix-blend-mode: lighten;

    &__label {
      position: absolute;
      left: 1.5em;
      top: -6px;
      background: #ffffff;
      // background: #000;
    }
  }

  &__label {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    // color: #ccd;
    // color: rgba(255, 220, 255, 0.6);
    cursor: pointer;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }

  &__input {
    // color: #fff;
    // font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    // height calc line-height + (vertical-padding * 2) + (vertical-border * 2)
    // height: calc(1em + 1.6em + 0.5em);
    // height: ;
    width: 100%;
    padding: 0.8em 1em;
    // border: 0.25em solid transparent;
    // background-image: linear-gradient(#000, #000),
    //   linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 4px;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;
    height: calc(1.5em + 1.5rem + 2px);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.87);

    &:hover {
      background-position: 100% 0;
    }
    &:focus {
      border: transparent; // Ensure no border is applied on focus
      outline: none; // Ensure no outline is applied on focus
    }
  }
  input:focus {
    border: none; // Ensure no border is applied on focus
    outline: none; // Ensure no outline is applied on focus
  }
}
.inputgroupV2 {
  width: 100%;
  // max-width: 366px;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 2;

  @supports (mix-blend-mode: darken) {
    position: relative;
    // mix-blend-mode: lighten;

    &__label {
      position: absolute;
      left: 1.5em;
      background: #f9fafb;
      top: -6px;
      // background: #ffffff;
      // background: #000;
      font-size: 12px;
    }
  }

  &__label {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    // color: #ccd;
    // color: rgba(255, 220, 255, 0.6);
    cursor: pointer;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }

  &__input {
    // color: #fff;
    // font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    // height calc line-height + (vertical-padding * 2) + (vertical-border * 2)
    // height: calc(1em + 1.6em + 0.5em);
    // height: ;
    width: 100%;
    padding: 0.8em 1em;
    // border: 0.25em solid transparent;
    // background-image: linear-gradient(#000, #000),
    //   linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 4px;
    background-size: 200% 100%;
    transition: background-position 0.8s ease-out;
    height: calc(1.5em + 1.5rem + 2px);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.87);

    &:hover {
      background-position: 100% 0;
    }
    &:focus {
      border: transparent; // Ensure no border is applied on focus
      outline: none; // Ensure no outline is applied on focus
    }
  }
  input:focus {
    border: none; // Ensure no border is applied on focus
    outline: none; // Ensure no outline is applied on focus
  }
}
.error {
  border: 1px solid red;
  color: red;
  border-radius: 4px;
}
